{% extends 'layout/index.twig' %}

{% block body %}
    {% if products %}
        <table class="table table-striped table-bordered" id="product-list-table">
            <thead>
            <tr>
                <th class="text-center"><a href="{{ sort_product_id }}"># <i class="{% if sort == 'p.product_id' %}fa fa-sort{% endif %}"></i></a></th>
                <th class="text-center" scope="col"><a href="{{ sort_name }}">Название <i class="{% if sort == 'p.name' %}fa fa-sort{% endif %}"></i></a></th>
                <th class="text-center" scope="col">Изображение</th>
                <th class="text-center" scope="col"><a href="{{ sort_date_added }}">Добавлено <i class="{% if sort == 'p.date_added' %}fa fa-sort{% endif %}"></i></a></th>
                <th class="text-center" scope="col"><a href="{{ sort_user }}">Автор <i class="{% if sort == 'u.name' %}fa fa-sort{% endif %}"></i></a></th>
                <th class="text-center" scope="col"><a href="{{ sort_reviews }}">Кол-во отзывов <i class="{% if sort == 'r.count_reviews' %}fa fa-sort{% endif %}"></i></a></th>
                <th width="120px"></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td class="text-center"><img src="{{ product.image }}" alt="{{ product.name }}" class="mx-auto img-thumbnail" height="90"></td>
                    <td class="text-center">{{ product.date_added }}</td>
                    <td class="text-center">{{ product.user }}</td>
                    <td class="text-center">{{ product.total_reviews }}</td>
                    <td class="text-center">
                        <a class="btn btn-primary" href="{{ product.edit }}"><span class="fa fa-edit"></span></a>
                        <a class="btn btn-danger" href="{{ product.delete }}" onclick="return confirm('Are you sure you want to delete {{ product.name }}?');"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Товаров нет!
        </div>
    {% endif %}

{% endblock %}